extends layout

block content
  
  .container
    .page-header
      h3
        | Ini form Register
      p Challenge week-4 Hactiv8 Bootcamp
    form(method='POST' action='/reg')
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' ,name='email')
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password', placeholder='Password', name='password')
      .form-group
        label(for='exampleInputUsername1') Username
        input#exampleInputUsername1.form-control(type='text', aria-describedby='usernameHelp', placeholder='Enter username', name='username')
      .form-group
        label(for='exampleInputRole1') Role
        input#exampleInputUsername1.form-control(type='text', aria-describedby='roleHelp', placeholder='Enter your role', name='role')
      button.btn.btn-primary(type='submit') Submit
    
    .modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Login
          .modal-body
            form(method='POST' action='/login')
              .form-group
                label(for='exampleInputUsername1') Username
                input#exampleInputUsername1.form-control(type='text', aria-describedby='usernameHelp', placeholder='Enter username', name='username')
              .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password', placeholder='Password', name='password')
              button.btn.btn-primary(type='submit') Submit
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
