<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Anda Berhasil login to <%= title %>, <%= user %></p>
    <input type="button" value="Main Menu" onclick="window.location.href='/user';">
    <input type="button" value="Logout" onclick="window.location.href='/logout';">
  </body>
</html>
